<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script type="text/javascript" src="http://mynameismatthieu.com/WOW/dist/wow.min.js"></script>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.header-logo{
	max-width: 200px;
}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h1>Arrow Apartments</h1>
  </div>
  <hr class="left-nav-gap">
  <div class="w3-bar-block">
    <a href="/amenities/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Ameneties</a> 
    <a href="/floorplans/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Floorplans</a> 
    <a href="/neighborhood/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Neighborhood</a> 
    <a href="/gallery/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Gallery</a> 
    <a href="/resident/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Residents</a> 
    <a href="/contact/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <hr class="break-line">
    <div class="left-nav-gap"></div>
    <div class="leasenow">
      <a class="content w3-bar-item w3-button w3-hover-white">Lease Now</a>
    </div><br>
    <div class="leasenow">
      <a class="content w3-bar-item w3-button w3-hover-white">Take a tour</a>
    </div>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">&#9776;</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" id="showcase">
    <img src="../assets/arrow-apartments1.png"></img>
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
      <img src="../assets/home-banner.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
<script>
       new WOW().init();
     </script>

</body>
</html>